 * { 
    margin: 0;
}

body{
    height: 100%;
    margin:0;
    overflow: hidden;
    justify-content: center;
}
.piece{
    position: absolute;
    transition: transform 1s ease, opacity 1s ease;
    background: inherit;
}
#canvas{
    width: 100%;height: 100%;
}
.page{
    align-items: center;
    display: flex;
    justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
 
  text-align: center;
}
.page1{
   z-index: 1; 
}
.page2{
    opacity:0;
    position: absolute;
   z-index: 20;
    width: 100vw;
    height: 100vh;
    transition: opacity 1s ease;
    background: rgba(20,20,20,0.9);
    pointer-events: none;
}
h2{
    color: black;
    padding: 20px;
    font-family: 'Playfair Display',sans-serif;
    justify-content: center;
    align-self: center;
}
.btn{
    color: aliceblue;
    font-size: 1.2rem;
background-color: red;
cursor: pointer;
display: flex;
  width: 200px;
  border-radius: 20px;
  height: 60px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
 z-index: 10;
}
.btn:hover{
   background: rgb(58, 1, 1); 
   transform: translateY(-5px);
}
